.dialog-headline{
  font-weight: 300;
  margin-top: -2em;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0;
  padding: 1em;
  text-align: left;
  font-size: 1em;
  background-color: #3b5998;
  color:white;
}
