<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-6">
    <label
      class="l-h-0x font-bold small">{{'ley.label.cedula'|translate}}</label>
    <input class="form-control" type="text"
           matInput maxlength="20"
           (keyup.enter)="cargarPersona(persona.cedula)"
           (keyup.tab)="cargarPersona(persona.cedula)"
           [(ngModel)]="persona.cedula"
           placeholder="" required="true">

  </div>
  <div class="col-sm-12 col-md-6 col-lg-6">
    <label
      class="l-h-0x font-bold small">{{'ley.label.nombre'|translate}}</label>
    <input class="form-control" type="text"
           matInput maxlength="200"
           [(ngModel)]="persona.nombre"
           placeholder="" required="true">

  </div>

  <div class="col-sm-12 col-md-6 col-lg-6">
    <label
      class="l-h-0x font-bold small">{{'ley.label.telefono'|translate}}</label>
    <input class="form-control" type="text"
           matInput maxlength="200"
           [(ngModel)]="persona.telefono  "
           placeholder="" required="true">

  </div>
  <div class="col-sm-12 col-md-6 col-lg-6">
    <label
      class="l-h-0x font-bold small">{{'ley.label.direccion'|translate}}</label>
    <input class="form-control" type="text" maxlength="200"
           matInput
           [(ngModel)]="persona.direccion"
           placeholder="" required="true">

  </div>
  <div class="col-sm-12 col-md-3 col-lg-3">
    <label
      class="l-h-0x font-bold small">{{'ley.label.fecha.nacimiento'|translate}}:...</label>
    <p-calendar inputId="fechaMaximaEjecucion" dateFormat="dd/mm/yy"
                [(ngModel)]="persona.fechaNacimiento" [locale]="CALENDER_CONFIG_EN"></p-calendar>

  </div>

</div>
