<mat-card>
  <mat-card-content>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <label
        class="l-h-0x font-bold">{{'ley.label.nombre.completo'|translate}}:</label>
      <div class="line-sm"></div>
      <input class="form-control" type="text"
             matInput
             disabled="true"
             [(ngModel)]="inputPersona.nombre"
             placeholder="" required="true">
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <label
        class="l-h-0x font-bold">{{'ley.label.contador'|translate}}:</label>
      <div class="line-sm"></div>
      <input class="form-control" type="text"
             matInput
             disabled="true"
             [(ngModel)]="inputPersona.contador"
             placeholder="" required="true">
    </div>
  </mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
    <button type="button" class="btn btn-primary btn-sm"
            id="ng-btn-nuevo"
            matTooltip="{{'ley.label.volver'|translate}}"
            matTooltipPosition="below"
            (click)="volver()"
    >
      <i class="fa fa-reply" aria-hidden="true"></i>
      {{"ley.label.volver"|translate}}
    </button>
  </mat-card-content>
</mat-card>

<app-grid-vista [intputPersona]="inputPersona.idPersonaReferencia!"></app-grid-vista>
