<app-barra-herramientas [objBtn]="objBtn"></app-barra-herramientas>
<mat-card>
  <mat-card-content>
    <div *ngIf="personaReferenciaDto.idPersonaReferencia!=undefined">
      <app-registro-cliente *ngIf="!personaReferenciaDto.agregarReferido"
                            [personaReferencia]="personaReferenciaDto"
                            (personaReferencia)="revisarPersonaRegistrada($event)"
      ></app-registro-cliente>
      <div *ngIf="personaReferenciaDto.agregarReferido">
        <app-ver-persona-referencia
          [personaReferencia]="personaReferenciaDto">
        </app-ver-persona-referencia>
        <div class="line-lg"></div>
        <app-grid-persona-referencia
          [idPadreCliente]="personaReferenciaDto.idPersonaReferencia!"
          (personaCliente)="cargarPersona($event)">
        </app-grid-persona-referencia>
      </div>
    </div>


    <app-grid-persona-referencia *ngIf="personaReferenciaDto.idPersonaReferencia==undefined"
                                 (personaCliente)="cargarPersona($event)">
    </app-grid-persona-referencia>
  </mat-card-content>
</mat-card>
