  <p-table [value]="lstPersonas"
           styleClass="p-datatable-striped" selectionMode="single"
           [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        {{'siisspolweb.label.administracion.clientes'|translate}}
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="idPersonaReferencia">{{'siisspolweb.comun.label.id'|translate}}
          <p-sortIcon field="idPersonaReferencia"></p-sortIcon>
        </th>
        <th pSortableColumn="cedula">{{'ley.label.cedula'|translate}}
          <p-columnFilter type="text" field="cedula" display="menu"
                          [showMatchModes]="true" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
          <p-sortIcon field="cedula"></p-sortIcon>
        </th>
        <th pSortableColumn="nombre">{{'ley.label.nombre'|translate}}
          <p-columnFilter type="text" field="nombre" display="menu"
                          [showMatchModes]="true" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
          <p-sortIcon field="nombre"></p-sortIcon>
        </th>
        <th pSortableColumn="telefono">{{'ley.label.telefono'|translate}}
          <p-columnFilter type="text" field="telefono" display="menu"
                          [showMatchModes]="true" [showOperator]="false" [showAddButton]="false"></p-columnFilter>
          <p-sortIcon field="telefono"></p-sortIcon>
        </th>
        <th>
          {{'siisspolweb.comun.accion'|translate}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>
          {{item.idPersonaReferencia}}
        </td>
        <td>{{item.cedula}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.telefono}}</td>
        <td>

          <button mat-mini-fab
          (click)="editarRegistro(item)"
                  color="primary"
                  matTooltip="{{'siisspolweb.comun.btn.procesado'|translate}}"
                  matTooltipPosition="above">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab
                  (click)="agregarReferidos(item)"
                  color="warn"
                  matTooltip="{{'ley.label.agregar.referido'|translate}}"
                  matTooltipPosition="above">
            <mat-icon>add</mat-icon>
          </button>
<!--          <button mat-mini-fab
                  (click)="agregarNuevoViaje(item)"
                  color="accent"
                  matTooltip="{{'ley.label.agregar.viaje'|translate}}"
                  matTooltipPosition="above">
            <mat-icon>donut_small</mat-icon>
          </button>-->

        </td>
      </tr>
    </ng-template>
  </p-table>
