<app-barra-herramientas [objBtn]="objBtn"></app-barra-herramientas>

<!-- Contenido -->
<div>
  <div *ngIf="!objValorNegativo">
    <!-- Usuario Seleccionado -->
    <mat-form-field appearance="outline">
      <mat-label>
        <mat-icon>search</mat-icon>
        Seleccione un Usuario
      </mat-label>
      <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="objUsuario">
        <mat-option *ngFor="let item of lstInformacionUsuario" [value]="item">
          {{item.idUsuario}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Listado Agregados -->
    <mat-card>
      <mat-card-content>
        <p-table [value]="lstValoresNegativos"
                 styleClass="p-datatable-striped" selectionMode="single"
                 [rowsPerPageOptions]="[10,25,0]">
          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
              {{'Listado de generación compromisos presupuestarios  en negativo, por procesar.'|translate}}
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="boletin">{{'Boletín'|translate}}
                <p-sortIcon field="boletin"></p-sortIcon>
              </th>
              <th pSortableColumn="cuentaContable">{{'Cuenta Contable'|translate}}
                <p-sortIcon field="cuentaContable"></p-sortIcon>
              </th>
              <th>{{'Valor'|translate}}</th>
              <th>{{'Tipo Movimiento'|translate}}</th>
              <th>
                {{'siisspolweb.comun.accion'|translate}}
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-item>
            <tr>
              <td>{{item.boletin}}</td>
              <td>{{item.cuentaContable}}</td>
              <td>{{item.valor}}</td>
              <td>{{item.labelTipoMovimiento }}</td>
              <td>
                <button mat-mini-fab
                        (click)="editarRegistro(item)"
                        color="primary"
                        matTooltip="{{'siisspolweb.comun.btn.procesado'|translate}}"
                        matTooltipPosition="above">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Ventana Agregar -->
  <mat-card *ngIf="objValorNegativo">
    <mat-card-content>
      <div class="row">
        <div class="col-sm">
          <mat-form-field class="example-full-width">
            <mat-label>{{'Boletín'|translate}}</mat-label>
            <input matInput placeholder="Ejem. IVS000487" [(ngModel)]="objValorNegativo.boletin"
                   (keydown)="onKeypressEvent($event)">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field class="example-full-width">
            <mat-label>{{'Cuenta Contable'|translate}}</mat-label>
            <input matInput placeholder="Ejem. 7.5.2.04.09.019" [(ngModel)]="objValorNegativo.cuentaContable"
                   (keydown)="onKeypressEvent($event)">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-form-field class="example-full-width">
            <mat-label>{{'Valor'|translate}}</mat-label>
            <input matInput placeholder="Ejem. 25770.10" [(ngModel)]="objValorNegativo.valor" type="number">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-sm">
          <mat-slide-toggle class="font-bold"
                            [(ngModel)]="objValorNegativo.npEstado">{{'Ingreso'|translate}}</mat-slide-toggle>
          <div class="line"></div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
