<app-dialog-title titulo="Aportes"></app-dialog-title>

<mat-dialog-content class="mat-typography">
  <p-table [value]="detalle"
           styleClass="p-datatable-striped" selectionMode="single"
           [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
           [rowsPerPageOptions]="[10,25,50,100,200]">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        {{'siisspolweb.fondosv.form.label.titulodetalle'|translate}}
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="numero">{{'siisspolweb.fondosv.tabla.label.num'|translate}}
          <p-sortIcon field="numero"></p-sortIcon>
        </th>
        <th pSortableColumn="periodo">{{'siisspolweb.fondosv.tabla.label.periodo'|translate}}
          <p-sortIcon field="periodo"></p-sortIcon>
        </th>
        <th pSortableColumn="fechadeposito">{{'siisspolweb.fondosv.tabla.label.fechadeposito'|translate}}
          <p-sortIcon field="fechadeposito"></p-sortIcon>
        </th>
        <th pSortableColumn="porcentaje">{{'siisspolweb.fondosv.tabla.label.porcentaje'|translate}}
          <p-sortIcon field="porcentaje"></p-sortIcon>
        </th>
        <th pSortableColumn="aporte">{{'siisspolweb.fondosv.tabla.label.aporte'|translate}}
          <p-sortIcon field="aporte"></p-sortIcon>
        </th>
        <th pSortableColumn="interes">{{'siisspolweb.fondosv.tabla.label.interes'|translate}}
          <p-sortIcon field="interes"></p-sortIcon>
        </th>
        <th pSortableColumn="imposiciones">{{'siisspolweb.fondosv.tabla.label.imposiciones'|translate}}
          <p-sortIcon field="imposiciones"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{item.num}}</td>
        <td>{{item.periodo}}</td>
        <td>{{item.fechadeposito}}</td>
        <td>{{item.porcentaje| percent: '3.1-3'}}</td>
        <td>{{item.aporte|currency}}</td>
        <td>{{item.interes|currency}}</td>
        <td>{{item.imposiciones}}</td>
      </tr>
    </ng-template>
  </p-table>
</mat-dialog-content>
<mat-dialog-actions class="modal-footer" align="center">
  <button type="button" class="btn btn-warning" mat-dialog-close >{{"siisspolweb.comun.cancelar"|translate}}</button>

</mat-dialog-actions>

